# ==========================
# Node modules
# ==========================
backend/node_modules/
frontend/node_modules/

# ==========================
# Build folders
# ==========================
backend/dist/
frontend/dist/
frontend/build/

# ==========================
# Environment files
# ==========================
backend/.env
frontend/.env

# ==========================
# Uploaded images
# ==========================
backend/src/assets/images/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# npm
# ==========================
npm-debug.log*