# ==========================
# Node modules
# ==========================
backend/node_modules/
frontend/node_modules/
extension/node_modules/

# ==========================
# Build folders
# ==========================
backend/dist/
frontend/dist/
frontend/build/
extension/dist/


# ==========================
# Environment files
# ==========================
backend/.env
frontend/.env
extension/.env

# ==========================
# Runtime Storage (Uploads)
# ==========================
backend/storage/**


# Keep only .gitkeep files
!backend/storage/**/
!backend/storage/**/.gitkeep

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# npm
# ==========================
npm-debug.log*